flask
flask-cors

mysql-connector-python
sqlalchemy
pymysql

pandas
numpy
openpyxl
python-dateutil

requests
beautifulsoup4
lxml
html5lib

yfinance
ta

schedule
python-dotenv
gunicorn


